<h1>Our Vision</h1>

<br>
<h3>school + animal focus</h3>
<p>Here at The Pack School, we dually operate as an accredited educational institution for grades K-12, and additionally as a licensed animal rehabiliation and adoption center.</p>

<h3>a safer, kinder community</h3>
<p>Our focus is to educate and prepare out students for the real world, not only academically, but also socially. We want to instill a sense of social responsibility and personal confidence.  Students at The Pack School are taught not only how to better themselves, but also their community.</p>