<h1>We'd love to hear from you!</h1>
<br>
<h3>Questions, Ideas, Comments? </h3>
<p>Feel free to reach out by emailing us at thepackschool@gmail.com or giving us a call at 970.301.0430.</p>

<h3>Would you like to see how we work?</h3>
<p>Join us for a tour any time Monday - Friday between the hours of 8am - 4pm.  We'd love to show you the difference between a traditional school setting and our shared learning space at The Pack School.</p>

