

<div class="heaader">
  <h1>The Pack School</h1>
  <p>where students and animals learn together</p>
  <p><a href="welcome#about" class="btn btn-default btn-lg"><i>learn more!</i></a></p>
</div>
<br>
<br>
<br>


<h2>why?</h2>
<br>
<p>It is our belief that when students and animals share a learning environment, both parties can reap the benefits.</p>

<h2>how does it work?</h2>
<p>Part school and part animal rehabilition/adoption center, our goal is to bring humans and animals together. In the mornings, our students study their core classes (math, science, english) while the animals are dropped off for the day by their foster parents.  After lunch, students partner up with their selected animal and work on various training techniques and bonding methods through the lense of their elective class choices.  For example, a student that has selected an art elective may be working on training a dog in various command positions (sit, stay, lay down, etc.), and then sketch the dog in each position.  The student gets the art experience, and the dog is getting trained on basic household commands that give them a higher likelihood of being adopted.</p>
 